<div class="card mt-4">
    <div *ngIf="isLoading" class="spinner-border spinner-style"></div>
    <div class="card-header header-card">
        <div class="fl-cont">
            <div class="fl-item">
                <div class='mt-1'>{{ term.id }} - {{ term.username ?? 'in progress' }}</div>
            </div>
            <div class="fl-item">
                <div>
                    <!-- ngIf this is question of the currently logged user or the user is admin -->
                    <!-- show edit and delete buttons for this answer -->
                    <div class='d-flex gap-2'>
                        <div class="h-100 d-flex align-items-center">
                            <button (click)="onAnswerEdit($event)" class="btn btn-secondary btn-sm ml-2">
                                <i *ngIf="!isEdit" class="fa fa-pencil"></i>
                                <i *ngIf="isEdit" class="fa fa-times"></i>
                            </button>
                        </div>
                        <div class="h-100 d-flex align-items-center">
                            <button (click)="updateAnswer($event)" class="btn btn-sm btn-primary" *ngIf="isEdit">
                                <i class="fa fa-check"></i>
                            </button>
                            <a *ngIf="!isEdit" title="Delete" class="btn btn-sm btn-secondary" data-bs-toggle="modal"
                                [attr.data-bs-target]="'#deleteAnswerModal' + term.id">
                                <i class="fa fa-trash"></i>
                            </a>
                            <app-modal [modalID]="'deleteAnswerModal' + term.id"
                                [modalBodyText]="'Are you sure you want to delete answer with id ' + (term.id ?? '1')"
                                [title]="'Delete Answer'" (emitSubmitted)="onAnswerDelete($event)">
                                <div>
                                    <span>Are you sure you want to delete answer numbered</span>
                                    <p>
                                        <span class="fa fa-quote-left m-2"></span>
                                        <b>{{ term.id }}</b> ?
                                    </p>
                                </div>
                            </app-modal>
                        </div>
                        <!-- for edit button add logic to hide static answer and display form answer -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class='border-bottom mb-3'>
            <p *ngIf="!isEdit">{{ term.explanation }}</p>
            <div *ngIf="isEdit">

                <app-answer-form #editForm [numberOfRows]="1" [explanation]="term.explanation ?? ''" [isEdit]="true"></app-answer-form>
                <!-- questionId={props.questionId}
                        numberOfRows="4"
                        answer={props.term}
                        onEditAnswer={props.onEditAnswer}
                        currentUser={props.currentUser}
                        props={props.props}
                        toogleButton={() => {document.getElementById(`form${props.term.id}${props.questionId}`).classList.toggle("hide"); document.getElementById(`static${props.term.id}${props.questionId}`).classList.toggle("hide");}}/> -->

            </div>
        </div>
        <div class='main-fl'>
            <div class='fl-ch'>
                {{ term.datePosted ? term.datePosted.split('T')[0] : '' }}
            </div>
            <div class='fl-ch'>
                <div class="small-icon overr2">
                    <div class="items-icon overr">
                        <div (click)="like($event)"
                            [ngClass]="{ 'clicked' : term.likedBy?.includes((this._userService.loggedUser$ | async)?.username ?? '') }"
                            class='innermost'>
                            <i class="fa fa-thumbs-up"></i>
                            <!-- add on click event for thumbs up button -->
                            <!-- add hover styling on button-->
                            <!-- add styling when logged in user liked the question -->
                        </div>
                        <div class='innermost'>{{ term.likes }}</div>
                    </div>
                    <div class="items-icon overr">
                        <div (click)="dislike($event)"
                            [ngClass]="{ 'clicked' : term.dislikedBy?.includes((this._userService.loggedUser$ | async)?.username ?? '') }"
                            class="innermost">
                            <i class="fa fa-thumbs-down"></i>
                            <!-- add on click event for thumbs down button -->
                            <!-- add hover styling on button-->
                            <!-- add styling when logged in user disliked the question -->
                        </div>
                        <div class='innermost'>{{ term.dislikes }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>