<nav class="navbar navbar-expand-lg navbar-light bg-light nav-padding">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a [routerLink]="'/'" class="navbar-brand">Finki Q&A</a>

    <div class="collapse navbar-collapse justify-content-between" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a [routerLink]="'/'" class="nav-link">Home</a>
            </li>
            <!-- guard that redirects to login if user is not logged in -->
            <li class="nav-item">
                <a [routerLink]="'/questions/create'" class="nav-link">Ask question</a>
            </li>
            <!-- display this if user is admin -->
            <li class="nav-item">
                <a [routerLink]="'/tags'" class="nav-link">Tags</a>
            </li>
        </ul>
        <ul class="navbar-nav mt-2 mt-lg-0 float-right">
            <!-- if user not logged in show login and register routes -->
            <li *ngIf="(_userService.loggedUser$ | async)?.username == null" class="nav-item">
                <a [routerLink]="'/auth/login'" class="nav-link">Log in<i class="fa fa-sign-in-alt"></i></a>
            </li>
            <li *ngIf="(_userService.loggedUser$ | async)?.username == null" class="nav-item">
                <a [routerLink]="'/auth/register'" class="nav-link">Register</a>
            </li>
            <!-- if user logged in show profile and logout routes -->
            <li *ngIf="(_userService.loggedUser$ | async)?.username" class="nav-item">
                <a [routerLink]="'/profile'" class="nav-link">{{ (_userService.loggedUser$ | async)?.username }}<i class="fa fa-user"></i></a>
            </li>
            <li *ngIf="(_userService.loggedUser$ | async)?.username" class="nav-item">
                <a href="#" class="nav-link" (click)="_userService.logoutUser()">
                    <span>LogOut</span>
                    <i class="fa fa-sign-out-alt"></i>
                </a>
            </li>
        </ul>
    </div>
</nav>