.questionTerm {
    width: 100%;
    margin:25px 0px;
    min-width: 300px;
}

.small-icon {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
    flex-grow: 4;
}

.innermost {
    display: flex;
}


.reviews-header {
    margin:0;
    padding:0;
}

.tags {overflow: hidden !important;}

.hide-tag-ids {
    visibility: hidden;
    margin:0;
    padding:0;
}

.change-color {
    color: #dddd22;
}

.header-card {
    height:60px;
}

.items-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
}

.not-found {
    justify-content: center;
    margin:15px;
    padding:15px;
    color: darkgrey;
    margin-top: 75px;
}

.tags-card {
    height: 450px;
    overflow: hidden;
}

.custom-size {
    font-size: 25px;
}

.boxes {
    height: 320px;
}
.boxes-search {
    height: 235px;
}

.innermost:first-child:hover {
    color: #dddd22;
}

.clicked {
    color:#cccc11;
}

@media only screen and (max-width: 991.5px) {
    span {
      font-size: 17px;
    }
}

@media only screen and (max-width: 767.5px) {
    span {
        font-size: 15px;
    }
    .card-review {
        margin: 25px;
    }
}

@media only screen and (max-width: 575.5px) {
    .tags:nth-child(2) {
        display: none;
    }
}

@media only screen and (min-width: 991.5px) {
    .fa-thumbs-up, .fa-thumbs-down {
        font-size: 20px;
    }
}